*{
  font-family: 'Poor Story', cursive;
  font-weight: 900;
}
#container{
  width: 400px;
  margin: auto;
}
#join{
  padding: 30px;
  padding-top: 5px;
  border: 2px solid #01579B;
  background-color: white;
  color: gray;
}
#submit_box{
  width: 230px;
  height: 57px;
  font-size: 16px;
  background-color: #01579B;
  color: white;
  border-radius: 4px;
  position: absolute;
  left: 40px;
}
.gender{
  text-align: center;
  position: relative;
  top: 12px;
}
.box{
  width: 230px;
}
strong a{
  text-decoration: none;
  color: #01579B;
  font-size: 40px;
  font-family: 'Rampart One', cursive;
}
input {
  margin-left: 45px;
  height : 38px;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
}
body{
  background-color: #F2F2F2;
  width : 400px;
  height: 500px;
  text-align:center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%)
}
tr {
  height : 40px;
}
