*{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:900;
}
body{
     margin: 0;
     background-color: whitesmoke;
}
.everyscore{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 4px 40px;
}
.everyscore_menu{
              display: flex;
              list-style-type: none;
              padding-left: 0;
}
.everyscore_item{
              padding: 1px 15px;
              cursor: pointer;
}
a:hover{
        background-color: white;
}
.everyscore_item a{
              text-decoration: none;
              font-size: 17px;
}
.everyscore_logo a{
              text-decoration: none;
              font-size: 30px;
              font-family: 'Ubuntu', sans-serif;
              color: #01579B
}
